
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/*añadiendo estilos a nav*/
nav {
    /*outline: 1px solid red;*/
    background: linear-gradient(#76278F, #2B1E66);
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 113px;
    overflow: hidden;
    text-align: right;
    z-index: 1000;
}

nav figure {
    float: left;
    width: 65px;
    top: 50%;
    transform: translateY(50%);
    padding: 0 0 0 40px;
    /*outline: 1px solid green;*/
}

nav figure img {
    width: 100%;
}

#container-menu {
    /*outline: 1px solid red;*/
    display: inline-block;
    font-size: 18px;
    margin-right: 160px;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
}

#container-menu ul li {
    display: inline-block;
    /*outline: 1px solid yellow;*/
    margin: 20px;
}

#container-menu ul li a:hover {
    color: #FF00BF;
}

#log-in {
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 90px;
    height: 43px;
    margin: 20px;
    text-align: center;
}

#log-in a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

/*añadiendo estilos a main*/

main{
    position: relative;
}

main img {
    width: 100%;
}

.container-right {
    /*outline: 1px solid pink;*/
    background: #fff;
    box-sizing: border-box;
    color: #728099;
    width: 560px;
    height: 420px;
    padding: 64px;
    position: absolute;
    top: 120px;
    right: 0;
}

.container-right h2{
    color: #352384;
    font-size: 40px;
    line-height: 38px;
    margin: 0;
    padding: 0 100px 0 0;
}

.container-right span {
    color: #352384;
    display: block;
    font-size: 14px;
    font-weight: 900;
    margin: 15px 0;
}

.container-right form div {
    border-bottom: 1px solid #352384;
    height: 28px;
    margin: 30px 0;
}

#phone {
    display: block;
    border: none;
    font-size: 14px;
}

#button {
    background: #FF00BF;
    width: 185px;
    height: 52px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}

.container-right form a {
    margin: 10px;
    font-size: 16px;
}

.container-right p{
    font-size: 10px;
    line-height: 20px;
}
/****************************************************/
/*ESTILOS A SECTION-1*/
#sect-1{
  background: linear-gradient(#76278F, #2B1E66);
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 4px;
  /*margin: 0;
  padding: 0;*/
}
#sect-1 .column-right img{
  height: 550px
}

/****************************************************/
/*ESTILOS A SECTION-2*/
#sect-2{
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 4px;
}
.sect-2-1, .sect-2-3{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#sect-2 .column-1, #sect-2 .column-3{
  margin-right: 14%;
  line-height: 0;
}

#sect-2 .column-1 p, #sect-2 .column-3 p{
  line-height: 1;
}

.sect-2-2{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
#sect-2 .column-2{
  line-height: 0;
  outline: 1px solid red;
}
#sect-2 .column-2 p{
  line-height: 1;
}

/**************************************************************************/
/*ESTILOS DE FOOTER*/
footer{
  background-color: #333447;
  color: #fff;
  position: relative;
  bottom: 4px;
  width: 100%;
}

.cont-footer{
  display: flex;
  position: relative;
  bottom: 25px;
  width: 100%;
  /*outline: 2px solid green;*/
}
.col-right {
  margin-top: 40px;
  position: absolute;
  top: 40px;
  left:60%;
  width: 18%;
  /*outline: 1px solid #fff;*/
}
#apple, #google, #microsoft{
  width: 55%;
  height: 40spx;
  margin: 5px;
  /*outline: 2px solid red;*/
}
.col-left{
  display: flex;
  justify-content:center;
  margin-top: 35px;
  /*outline: 1px solid #fff;*/
  width: 60%;
}
#login, #partner, #learn{
  margin: 20px;
  /*outline: 2px solid red;*/
  line-height: 0.5;
  text-align: left;
  width: 15%;
}
.col-left h6:hover{
  color: #ff00bf;
  cursor: pointer;
}
.col-left h5:hover{
  cursor: pointer;
  text-decoration: underline;
}

/*Estilo .below*/

.below{
  position: relative;
  bottom: 20px;
  left: 30%;
  width: 40%;

}
#below-1,#below-2{
  display: flex;
  justify-content: center;
}

#below-1 li a{
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 13px;
  margin: 15px;
  padding: 4px;
  position: relative;
  bottom: 10px;
}
#below-2 li{
  font-size: 13px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 1px;
  /*outline: 1px solid yellow;*/
}
